<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <img src="/img/logo_agro.png" class="logo">
            <a class="navbar-brand ms-3" href="/">
                <i class="bi bi-house me-2"></i>AgroTech
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">
                            <i class="bi bi-star azul"></i>Home🏠</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">
                            <i class="bi bi-person"></i>Login👤</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sobre">Sobre♟</a>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </nav>

    <img src="/public/img/logo_agro.png" alt="">
    <div>
        <section class="color">
            <h2>Seja bem vindo a AgroTech</h2>
        </section>
    </div>

    <main class="container-fluid">
        <!-- criando carrossel -->

        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://uds.com.br/blog/wp-content/uploads/2024/09/agrotech.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.agroetechsustentavel.com.br/wp-content/uploads/2024/04/141agrotech-5-1024x574.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://blog.b2bstack.com.br/wp-content/uploads/2022/11/entenda-a-importancia-do-agrotech.jpg.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    <div>
        <div class="text-center mt-5">
            <h2>Recomendados</h2>
            <span class="fs-5">Aproveite nossos melhores produtos</span>
        </div>

        <section class="d-flex align-items-center w-100 mt-3">
            <div class="d-flex flex-column w-50 p-3 gap-4">
                <h2 class="text-center">Maquinários</h2>
                <span>Maquinas e equipamentos para auxiliar no manejo do campo, com os melhores preços e a melhor
                    qualidade do campo</span>
                <a href="" class="btn btn-outline-success w-25  ">Saiba mais</a>
            </div>
            <img src="https://revistarpanews.com.br/wp-content/uploads/2020/07/canavial-maquina-internet.jpg" alt=""
                class="w-50">
        </section>

        <section class="d-flex align-items-center w-100 mt-3">
            <img src="https://agro.estadao.com.br/app/uploads/2024/02/07104429028094.jpg" alt="" class="w-50">
            <div class="d-flex flex-column w-50 p-3 gap-4">
                <h2 class="text-center">Adubos </h2>
                <span>Os fertilizantes atuam no desenvolvimento e crescimento das plantas e vegetais,
                    além de reporem os nutrientes do solo, ampliando a sua fertilidade e produtividade.</span>
                <a href="" class="btn btn-outline-success w-25 ">Saiba mais</a>
            </div>
        </section>

        <section class="d-flex align-items-center w-100 mt-3">
            <div class="d-flex flex-column w-50 p-3 gap-4">
                <h2 class="text-center">Forragem</h2>
                <span>São alimentos fibrosos utilizados basicamente na alimentação de ruminantes,
                    pois são fundamentais para o perfeito funcionamento do aparelho digestivo,
                    e normalmente fornecem nutrientes de forma mais econômica que os concentrados.</span>
                <a href="" class="btn btn-outline-success w-25 ">Saiba mais</a>
            </div>
            <img src="https://portal.agro2business.com/wp-content/uploads/2023/01/04-racao-para-gado-1.jpeg" alt=""
                class="w-50">
        </section>
    </div>
    
    <footer>
        <div class="mt-3">
            <div class="d-flex justify-content-evenly align-items-center">
                <!-- Seção de contato -->
                <div>
                    <h5>Contato</h5>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-geo-alt-fill me-2"></i>Rua Malvina Biazon Roque, 945 - PJ 🐱‍👤</li>
                        <li><i class="bi bi-telephone-fill me-2"></i>(18)93085-8585</li>
                        <li><i class="bi bi-envelope-fill me-2"></i>marceusvetucius@gmail.com</li>
                    </ul>
                </div>

                <!-- Seção de Redes Sociais -->
                <div>
                    <h5>Siga-nos</h5>
                   <p>@roque018_</p>
                   <p>@marcos.xstvm.14</p>
                   <p>@guissonigabriel</p>
                   <p>@laizaacaroline_</p>
                </div>
            </div>
            <hr class="my-3">

            <div class="text-center">
                <p>© 2024 - AgroTech. Todos os direitos reservados - Sesi/Senai</p>
                <p>
                    <a href="" class="text-decoration-none text-muted">Politica de privacidade</a>

                    <a href="" class="text-decoration-none text-muted">Termos de uso</a>
                </p>
            </div>
        </div>
    </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</html>