<div class="dados-tabela">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
          <img src="/public/img/logo_agro.png" class="logo"  alt="">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">🏠Home</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
</div>
    
    
    <h1>Projeto desenvolvido por</h1>
    <p>Gabriel Roque</p>
    <p>Marcos Vinicius</p>
    <p>Gabriel Guissoni</p>
    <p>Laiza Caroline</p>
    <hr>
    <p>Este projeto foi desenvolvido com o intuito de mostrar o que aprendemos</p>
    <hr>
    <strong>Desenvolvido em sala de aula SESI/SENAI</strong>
    